body {
    background-color: #1e1e2f;
    color: #f5f5f5;
}

.card {
    height: 100%;
    background-color: #1f1f1f;
    border: 1px solid #444;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
}

.card-title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #ffffff;
}

canvas {
    max-height: 260px !important;
    margin-top: 20px;
}

#statusChart {
    height: 260px !important;
}


.card:hover {
    transform: scale(1.02);
}

